<h1>Prescriptions#index</h1>

<h3><%= link_to 'Home', doctors_path %></h3>
<h3><%= link_to 'New Prescription', new_doctor_prescription_path(@doctor.id) %></h3>

<table>
    <thead>
        <tr>
            <th>PK - Prescription ID</th>
            <th>FK - Doctor ID</th>
            <th>Prescribed by</th>
            <th>Taken for</th>
            <th>Number of Drugs</th>
            <th>Eligible for discount?</th>
            <th>Total Cost</th>
            <th colspan="4">Actions</th>
        </tr>
    </thead>
    <tbody>
        <% @prescriptions.each do |prescription| %>
            <tr>
                <td><%= prescription.id %></td>
                <td><%= @doctor.id %></td>
                <td><%= prescription.doctor_name %></td>
                <td><%=  prescription.taken_for %></td>
                <td></td>
                <td><%= prescription.discount_eligible %></td>
                <td></td>

                <td><%= link_to 'Prescription Info',  doctor_prescription_path(@doctor.id, prescription.id) %></td>
                <td><%= link_to 'Apply Discount' %></td>
                <td><%= link_to 'Update', edit_doctor_prescription_path(@doctor.id, prescription.id) %></td>
                <td><%= link_to 'Delete', doctor_prescription_path(@doctor.id, prescription.id), method: :Delete, data: {confirm: 'Are you sure?'} %></td>
            </tr>
        <%end%>
    </tbody>
</table>

<%# , doctor_prescription_path(prescription.id), method: :Get, data: {confirm: 'Are you sure?'}  %>