<h1>Prescription#show</h1>

<h3><%= link_to 'Home', doctors_path %></h3>

<h1>Prescription Info:</h1>

<p>Prescription ID: <span><%= @prescription.id %></span></p>
<p>Prescribed by: <span><%= @prescription.doctor_name %></span></p>
<p>Prescribed taken for: <span><%= @prescription.taken_for %></span></p>
<p>Is Eligible for discount? : <span><%= @prescription.discount_eligible  %></span></p>
<p>Total cost: <span><%=  %></span></p>
<p><%= link_to "See all drugs in this prescription" %></p>

<%= link_to 'Go to Prescriptions Page', doctor_prescriptions_path(@doctor.id) %>